---
import "../styles/global.css";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body
    style={{
      background: "url(/paper.jpeg) no-repeat center center fixed",
      backgroundSize: "cover",
    }}
  >
    <div class="w-full p-2 text-white grid place-items-center">
      <div
        class="max-w-[108ch] flex flex-col gap-2"
        style={{ minHeight: "100vh" }}
      >
        <slot />
      </div>
    </div>
  </body>
</html>
