---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div class="w-full bg-black p-2 text-white grid place-items-center">
      <div
        class="max-w-[80ch] flex flex-col gap-2 pb-10"
        style={{ minHeight: "100vh" }}
      >
        <slot />
      </div>
    </div>
  </body>
</html>
<style is:global>
  html,
  body {
    margin: 0;
    padding: 0;
  }
</style>
